.input {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 408px);
    display: flex;
    flex-direction: column;
    gap: 4px;
  
    background-color: white;
  
    padding: 16px 24px;
  
    .input__field {
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
      
    }
  
    .control__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            cursor: pointer;
        }
        img:nth-child(1):hover{
            background: #ccc;
        }
    }
  
}
  